.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flexGrow {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.productImage {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ēna, kas ir 0 pikseļu nobīde pa horizontāli, 4 pikseļu nobīde pa vertikāli, 6 pikseļu izplūdums un 10% caurspīdīguma tumša krāsa.*/
  max-height: 90vh;
  object-fit: cover;
}

.productDetails {
  flex: 1;
  padding: 1.5rem;
  background-color: #f9fafb;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productName {
  font-size: 1.875rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}


.productDescription {
  color: #4b5563;
  margin-bottom: 1rem; /*rem = pamatfonta izmēra*/
}

.productPrice {
  font-size: 1.5rem;
  font-weight: 600;
}

.border {
  border-top: 1px solid #d1d5db;
  margin: 1.5rem 0;
}

.additionalInfo {
  margin-bottom: 1rem;
}

.sectionTitle {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.sectionDescription {
  color: #4b5563;
}

.reviewTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}
